main.aux
main.log
preamble.log
preamble.aux
preamble.synctex.gz
main.toc
main.synctex.gz
new_preambe.aux
new_preamble.log
new_preamble.synctex.gz
Makefile
main.blg
main.fdb_latexmk
main.fls
main.dvi
main.synctex(busy)
.vscode
omotopia.gif.kra
omotopia.png.kra
settings.json